<div id="mood">
<p>I'm in the mood for something...</p></div>
<div class="row categories">
    <div class="col-xs-6 col-sm-6 movimg" ng-click="randomSerious()">
        <img src="images/pharaoh.png">
        <h3>serious</h3></div>
    <div class="col-xs-6 col-sm-6 movimg" ng-click="randomExcited()">
        <img src="images/revolver.png" class="center-block">
        <h3>exciting</h3></div>
</div>
<div class="row categories">
    <div class="col-xs-6 col-sm-6 movimg" ng-click="randomLight()">
        <img src="images/heart-glasses.png">
        <h3>light-hearted</h3></div>
    <div class="col-xs-6 col-sm-6 movimg" ng-click="randomFamily()">
        <img src="images/family.png">
        <h3>for the whole<br>family</h3></div>
</div>
<div class="row categories">
    <div class="col-xs-6 col-sm-6 movimg" ng-click="randomFantasy()">
        <img src="images/star-trek.png">
        <h3>out of this<br>world</h3></div>
    <div class="col-xs-6 col-sm-6 movimg" ng-click="randomScary()">
        <img src="images/jason.png">
        <h3>scary</h3></div>
</div>
<div class="footer">
    <img src="images/var_2_0_PoweredByTMDB_Blk_Bree.png">
    <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
</div>